# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [22]:
number = 6

print (number)

6

##### Assinging float

In [23]:
numberFloat = 2.3
print (numberFloat)
print (numberFloat)
numberFloat = 7.2
print (numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [24]:
num1 = 2
num2 = 5.4

result = num1+num2

print (result)

#result += 2

print (result + 2)

7.4
9.4

##### Subtraction

In [25]:
result_diff = num2 - num1
print (result_diff)

result_diff -= 1
print(result_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [26]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [27]:
result_div = num2/num1
print (result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [28]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print (result_floor)

2.0
1.0

##### Modulo

In [29]:
result_mod = num2 % num1
print (result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [30]:
square = 5 ** 2
print (square)

square **= 2
print (square)

25
625

### String Input-Output

##### String Assignment

In [31]:
name = "Sarah"
print(name)

Sarah

##### print() <br>
<p>Don't forget about end=' '</p>

In [32]:
print("This is my first name:", name)

print('Full name:', name, end=" Eckler")

This is my first name: Sarah
Full name: Sarah Eckler

##### String Concatenation

In [33]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)
full_name += " jr"
print(full_name)

John Smith
John Smith jr

##### Type Conversion

In [34]:
number = "32"

change_type_num = int(number)

print(number)
print(change_type_num + 1)

32
33

##### input()

In [35]:
# input will always return a string

# name = input ("What is your name?")

# print("Nice to meet you,"+ " " + name)

age = int(input ("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 34
39

##### format()

In [36]:
age = input ("What is your age?")

result_string = "You are {} {} and getting wiser!".format(age,name)

print(result_string)

result_again = f"{age} is a great time in life !!"

print(result_again)

What is your age?34
You are 34 Sarah and getting wiser!
34 is a great time in life !!

##### Old Way (python 2)

In [37]:
result_string2 = "You are %s and you look great for your age!" %age

print(result_string2)

You are 34 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [38]:
name = input ("What is your name? ")
color = input ("What is the color of your car? ")
year = input ("What is the year your car was made? ")
make = input ("What is the make of your car? ")
model = input ("What is the model of your car? ")
results = f"{name}, you own a {year}, {color}, {model}."
print(results)

What is your name? sarah
What is the color of your car? grey
What is the year your car was made? 2012
What is the make of your car? chevy
What is the model of your car? equinox
sarah, you own a 2012, grey, equinox.

### If Statements

In [39]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 ==  num2:
#     print("Equal values")
# else:
#     print("Not Equal")
if num2 < num1 or num3 > 0:
    print("This ran")

else:
    print("You are here")

This ran

##### 'is' keyword

In [40]:
# The "is" keyword is for checking an object, but not the same value

num3 = 55
if num3 is 55:
        print("This is the exact number/object")

This is the exact number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\sarah\AppData\Local\Temp\ipykernel_11276\1515028530.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [41]:
# check if a character is in a string

char_name = "Frodo-Baggins"
if "Frodo" in char_name:
    print("The Ring Bearer")

The Ring Bearer

##### 'not in' keyword'

In [42]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [43]:
location = input ("What town do you live in? ")
if "p" in location.lower():
    print("the letter p appears in the name of your location")
else:
    print("the letter p does not appear in the name of your location")

What town do you live in? Warrenton
the letter p does not appear in the name of your location

## Using 'and'/'or' with If Statements

In [44]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with "and" statements
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# if with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [45]:
first_name = input("What is your name? ")

if first_name== "Smith":
    print("The name is Smith.")
elif first_name == "Sarah":
    print("The name is Sarah.")
elif first_name !="Max":
    print("The name is NOT Max!")
else:
    print("The name is Max")

What is your name? Sarah
The name is Sarah.

### Else Statements

In [46]:
# see above

### For Loops

In [47]:
# syntax:
# for counter in condition

name = [5, 6, 7, 8]
print(name)

for letter in name:
    print(letter + 1)

[5, 6, 7, 8]
6
7
8
9

##### Using 'in' keyword

In [48]:
# see above

##### Continue Statement

In [49]:
# will continue to next iteration

In [50]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [51]:
# will break out of current loop

In [52]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [53]:
# mostly used as a placeholder, and will continue on same iteration

In [54]:
for i in name:
    pass

##### Double For Loops

In [55]:
for i in range (5):
    for j in range (5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [56]:
# Syntax:
#while, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [57]:
game_over = True

while game_over:
    print("infanite loop")
    user_input = input ("Would you like to stop? ")
    if user_input == "Yes":
        break

infanite loop
Would you like to stop? yes
infanite loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [58]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range (2):
        print("For loop iteration: ", str(i))
    
    num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [59]:
# range(start,stop,step)

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [60]:
name = input("What is your name?")

length = len(name)
print(length)

What is your name?steven
6

##### help()

In [61]:
# use this function to view more info about a python function

##### isinstance()

In [62]:
# check a variable to find out what object type or date family it belongs to
# isisnstance(variable, type)

##### abs()

In [63]:
#|-5| = 5

print(abs(-5))

5

### Try and Except

In [64]:
# use this to log out graceful and useful error messages
#does not stop the program

try:
    number_test = 0
    input_num = int(input("Guess a number "))
    print("Your number is " + str(input_num))
except:
    print("That didn't work. Please change your input to a number.")

Guess a number 7
Your number is 7

### Lists

##### Declaring Lists

In [65]:
list_1 = []

names = ["Max", "Cindy", "Kathy", "Bob", "Nate"]
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [66]:
# list_name [start:stop:step]
#Single Index
print(names[0])

# print starting at index 1 and going to the end
print(names[1:])

# print at a starting of a list up until a number
print(names[:2])

# print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [67]:
names.append("Brandon")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [68]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [69]:
# defaults to the last value if no permeter is given
# pop returns the value of the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)

Kathy


##### .remove()

In [70]:
# value will be removed rather then the index number
names.remove('Bob')
print(names)

#remove multiple brandons from the list
while 'Brandon'in names:
    names.remove("Brandon")
print(names)

['Max', 'Cindy', 'Devon', 'Nate', 'Brandon']
['Max', 'Cindy', 'Devon', 'Nate']

##### del()

In [71]:
# goes by index, rather than value
# be careful with it, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon', 'Nate']

##### Concatenating Two Lists

In [72]:
#Will append two lists together, will not add the value
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [73]:
# List can hold ANY type of other element: including other lists!
#They can go as deep as you want; this is called nested lists

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
['Sally', 'Sue', 'Tameka']

##### Looping Through Lists

In [74]:
# Two ways to loop through a list. One is by index; the other is by using the "in" keyword.

#By index
for i in range(len(names)):
    print(names[i])
    
#Loop with "in"

for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
for i in range (1, 1001):
    cube = i ** 3
    print(cube)
    if cube >= 1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for p in range(2,101): 
    for r in range(2,101):
        if p % r == 0:
            break
    if p == r:
        print(p)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:
age = int(input("What is your age? "))

if age <= 18:
    print("Kid")
elif age >= 19 and age <= 64:
    print("Adult")
elif age >= 64:
    print("Senior")

What is your age? 12
Kid